@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: #817d7d;
}

table{
    border-collapse: collapse;
}
.header_fixed{
    height: 500px;
    overflow: auto;
    margin-top: 30px;
    border: 1px solid#dddddd;
}
.header_fixed thead th{
    position: sticky;
    top: 0;
    background-color: black;
    color: #E6E7E8;
    font-size: 18px;
    font-weight: 500px;
}

th,td{
    border-bottom: 1px solid#dddddd;
    padding: 10ox 20px;
    font-size: 14px;
}

td img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid#ced6dd;
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: #EDEEF1;
}

tr:hover td{
    color: #44b478;
    cursor: pointer;
    background-color: #FFFFFF;
}

td button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #E6E7E8;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0,3)
}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0, 3)
}